<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Onion-Imageboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- google fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <h1 class="title">{{name}}</h1>

        <div class="img-container" v-if="images.length">
            <div class= "img-div" v-for='img in images'>
                <img :src="img.url">
                <d class="img-d">{{img.title}}</d>
            </div>
            
        </div>
        <button  v-if="images.length > 6">More</button>
    </div>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>
