* {
    font-family: "Permanent Marker", cursive;
}

img {
    width: 100%;
    height: auto;
}

input {
    border-radius: 6px;
    border: 1px solid antiquewhite;
    margin-left: 20px;
}

button {
    background: linear-gradient(to bottom, white 5%, antiquewhite 100%);
    background-color: white;
    border-radius: 6px;
    border: 1px solid antiquewhite;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 0 20px 0 20px;
    margin-left: 20px;
    text-decoration: none;
}
button:hover {
    background: linear-gradient(to bottom, antiquewhite 5%, white 100%);
    background-color: antiquewhite;
}
button:active {
    position: relative;
    top: 1px;
}

form {
    height: 25px;
    justify-content: center;
    align-content: center;
    display: flex;
    background: linear-gradient(
        0deg,
        rgba(213, 213, 213, 0) 20%,
        rgba(213, 213, 213, 1) 50%,
        rgba(213, 213, 213, 0) 80%
    );
    margin-bottom: 50px;
}

.title {
    text-align: center;
    font-size: 50px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: auto;
    column-gap: 50px;
    row-gap: 50px;
}

.img-div {
    background-color: antiquewhite;
    overflow: hidden;
    border: solid black 2px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 300px 1fr;
    align-items: center;
    text-align: center;
}

.img-d {
    background-color: antiquewhite;
}

.success {
    margin-top: 0;
    color: green;
    font-size: 20px;
    /* position: absolute; */
    z-index: 10000000;
}

.copyright {
    text-align: center;
    font-size: 15px;
}

.more-btn {
    padding-top: 20px;
    text-align: center;
}
