* {
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
}

.img-small {
    width: 100%;
    height: auto;
    cursor: pointer;
}

input {
    border-radius: 6px;
    border: 1px solid antiquewhite;
    margin-left: 20px;
}

button {
    background: linear-gradient(to bottom, white 5%, antiquewhite 100%);
    background-color: white;
    border-radius: 6px;
    border: 1px solid antiquewhite;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 0 20px 0 20px;
    margin-left: 20px;
    text-decoration: none;
}
button:hover {
    background: linear-gradient(to bottom, antiquewhite 5%, white 100%);
    background-color: antiquewhite;
}
button:active {
    position: relative;
    top: 1px;
}

form {
    height: 25px;
    justify-content: center;
    align-content: center;
    display: flex;
    /* background: linear-gradient(
        0deg,
        rgba(213, 213, 213, 0) 20%,
        rgba(213, 213, 213, 1) 50%,
        rgba(213, 213, 213, 0) 80%
    ); */
    margin-bottom: 50px;
}

.title {
    text-align: center;
    font-size: 50px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: auto;
    column-gap: 50px;
    row-gap: 50px;
}

.img-div {
    background-color: antiquewhite;
    overflow: hidden;
    border: solid black 2px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 300px 1fr;
    align-items: center;
    text-align: center;
}

.img-div:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.8);
}

.img-d {
    background-color: antiquewhite;
}

.success {
    margin-top: 0;
    color: green;
    font-size: 20px;
    /* position: absolute; */
    z-index: 10000000;
}

.copyright {
    text-align: center;
    font-size: 15px;
}

.more-btn-div {
    padding-top: 20px;
    text-align: center;
}

.close-x {
    font-size: 50px;
    cursor: pointer;
    padding-left: 80%;
}

.close-x:hover {
    color: red;
}

.big-img-div {
    position: fixed;
    overflow: scroll;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    justify-self: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.body-hidden {
    overflow: hidden;
}

.img-d-component {
    border-radius: 7px;
    border: solid black 2px;
    width: 30%;
    margin-left: 35%;
}

.img-component {
    border-radius: 7px;
    border: solid black 2px;
    max-width: 1200px;
}

.user-comment {
    color: rgb(112, 98, 80);
}

.little-data {
    font-size: 10px;
}

.input-file{
    color: transparent;
    background-color: rgba(250, 235, 215, 0.52);
    width: 160px;
}

.input-file::-webkit-file-upload-button {
    visibility: hidden;
}

.input-file::before {
    content: "Select picture";
    color: gray;
    border-radius: 7px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
.img-container {
    padding-top: 50px;;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 20px;
}

.img-div {
    grid-template-rows: 200px 1fr;
}
form {
    height: 15px;
    display: block;
}

}